language: ja   # 言語を指定

blocks:  # ブロックのリスト
  - name: canonicalizer  # ブロック名
    # ブロックのクラス
    block_class: 
      dialbb.builtin_blocks.preprocess.japanese_canonicalizer.JapaneseCanonicalizer
    input: # ブロックへの入力
      input_text: user_utterance
    output: # ブロックからの出力
      output_text: canonicalized_user_utterance
  - name: manager
    block_class: dialbb.builtin_blocks.stn_management.stn_manager.Manager
    knowledge_file: scenario.xlsx # 知識記述ファイル
    function_definitions: scenario_functions
    input:
      sentence: canonicalized_user_utterance
      nlu_result: nlu_result
      user_id: user_id
      aux_data: aux_data
    output:
      output_text: system_utterance
      final: final
      aux_data: aux_data
    repeat_when_no_available_transitions: yes
    chatgpt:
      model: gpt-4o-mini
      #model: gpt-4
      temperature: 0.7
      situation:
        - あなたは対話システムで、ユーザと料理に関して雑談をしています。
        - ユーザとは初対面です
        - ユーザとは同年代です
        - ユーザとは親しい感じで話します
      persona:
        - 名前は由衣
        - 28歳
        - 女性
        - ラーメン全般が好き
        - お酒は飲まない
        - IT会社のwebデザイナー
        - 独身
        - 料理をよくする
        - 得意な料理はイタリアン
        - 非常にフレンドリーに話す
        - 外交的で陽気
      cautions:
        - 長い発話は禁止
