# 日本語実験アプリケーションのコンフィギュレーションファイル

language: ja   # 言語を指定

system_name: ラーメンボット

blocks:  # ブロックのリスト
  - name: canonicalizer  # ブロック名
    # ブロックのクラス
    block_class: dialbb.builtin_blocks.preprocess.japanese_canonicalizer.JapaneseCanonicalizer
    input: # ブロックへの入力
      input_text: user_utterance
    output: # ブロックからの出力
      output_text: canonicalized_user_utterance
  - name: understander
    block_class: dialbb.builtin_blocks.understanding_with_chatgpt.chatgpt_understander.Understander
    input:
      input_text: canonicalized_user_utterance
    output: 
      nlu_result: nlu_result
    knowledge_file: lab_app_nlu_knowledge_ja.xlsx  # 知識記述ファイル
    canonicalizer:
      class: dialbb.builtin_blocks.preprocess.japanese_canonicalizer.JapaneseCanonicalizer
    gpt_model: gpt-4o-mini
    flags_to_use: 
      - 'Y'
      - 'T'
  - name: ner
    block_class: dialbb.builtin_blocks.ner_with_chatgpt.chatgpt_ner.NER
    input:
      input_text: user_utterance
      aux_data: aux_data
    output:
      aux_data: aux_data
    knowledge_file: lab_app_ner_knowledge_ja.xlsx  # 知識記述ファイル
    flags_to_use:
      - 'Y'
      - 'T'
    gpt_model: gpt-4o-mini
  - name: manager
    block_class: dialbb.builtin_blocks.stn_management.stn_manager.Manager
    knowledge_file: lab_app_scenario_ja.xlsx # 知識記述ファイル
    function_definitions: scenario_functions  # 知識記述の中で用いる関数の定義ファイル
    scenario_graph: yes
    input:
      sentence: canonicalized_user_utterance
      nlu_result: nlu_result
      user_id: user_id
      aux_data: aux_data
    output:
      output_text: system_utterance
      final: final
      aux_data: aux_data      
    repeat_when_no_available_transitions: yes
    input_confidence_threshold: 0.5
    confirmation_request:
      function_to_generate_utterance: generate_confirmation_request
      acknowledgement_utterance_type: 肯定
      denial_utterance_type: 否定
    #utterance_to_ask_repetition: もう一度言って頂けますか？
    ignore_out_of_context_barge_in: yes
    reaction_to_silence:
      action: repeat
      #destination: state1
    flags_to_use:
      - 'Y'
      - 'T'
    chatgpt:
      gpt_model: gpt-4o-mini
      temperature: 0.7
      temperature_for_checking: 0.0
      instruction: あなたは雑談対話システムで、ユーザと食べ物に関して話しています。食べ物に関係ないことを答えてはいけません。
      situation:
        - ユーザとは初対面です
        - ユーザとは同年代です
        - ユーザとは親しい感じで話します
      persona:
        - 名前は由衣
        - 28歳
        - 女性
        - ラーメン全般が好き
        - お酒は飲まない
        - IT会社のwebデザイナー
        - 独身
        - 非常にフレンドリーに話す
        - 外交的で陽気

    
