aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.12
annotated-types==0.5.0
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.3
blis==0.7.10
cachetools==5.2.0
catalogue==2.0.9
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.6
confection==0.1.1
cymem==2.0.7
deprecation==2.1.0
docopt==0.6.2
docutils==0.17.1
et-xmlfile==1.1.0
filelock==3.12.2
Flask==2.0.3
frozenlist==1.4.0
fsspec==2023.6.0
future==0.17.1
ginza==5.1.2
ginza-transformers==0.4.2
google-auth==2.13.0
google-auth-oauthlib==0.7.0
gspread==5.6.2
httplib2==0.21.0
huggingface-hub==0.16.4
idna==3.3
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.6.0
itsdangerous==2.1.1
ja-ginza-electra==5.1.2
jaconv==0.3
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
langcodes==3.3.0
logzero==1.7.0
markdown-it-py==2.1.0
MarkupSafe==2.1.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.9
myst-parser==0.18.0
networkx==3.1
num2words==0.5.10
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.8
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
pathy==0.10.2
plac==1.3.5
preshed==3.0.8
pyaml==19.12.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.12
pydantic_core==2.4.0
Pygments==2.12.0
pymongo==4.1.1
pyparsing==3.0.8
pyrsistent==0.18.1
python-crfsuite==0.9.8
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2023.8.8
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==0.22.2.post1
scipy==1.8.0
six==1.16.0
sklearn-crfsuite==0.3.6
smart-open==6.3.0
snips-nlu==0.20.2
snips-nlu-en @ https://github.com/snipsco/snips-nlu-language-resources/releases/download/snips_nlu_en-0.2.3/snips_nlu_en-0.2.3.tar.gz#sha256=9e756ff9590672edd97787935830f82ee5dd7c08df64bf46ba20e50b7370c579
snips-nlu-ja @ https://github.com/snipsco/snips-nlu-language-resources/releases/download/snips_nlu_ja-0.2.1/snips_nlu_ja-0.2.1.tar.gz#sha256=1465eefe92fb98079cfcbd6e4284c0610b0df220e0557bf03c578b4bb676ee77
snips-nlu-parsers==0.4.3
snips-nlu-utils==0.9.1
snowballstemmer==2.2.0
spacy==3.4.4
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.1.9
Sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==2.4.7
SudachiDict-core==20211220
SudachiPy==0.6.3
SudachiTra==0.1.8
sympy==1.12
tabulate==0.8.9
thinc==8.1.12
tokenizers==0.13.3
torch==2.0.1
tqdm==4.64.0
transformers==4.25.1
typer==0.7.0
typing_extensions==4.7.1
urllib3==1.26.9
wasabi==0.10.1
Werkzeug==2.0.3
yarl==1.9.2
zipp==3.7.0
